{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>{{projects.name}}</h1>
        <p>{{projects.description}}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
            {% if projects.tasks.all|length != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects.tasks.all%}
                        <tr>
                            <th>{{project.name}}</th>
                            <th>{{project.assignee}}</th>
                            <th>{{project.start_date}}</th>
                            <th>{{project.due_date}}</th>
                            <th>{{project.is_completed|yesno}}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
    </div>
</main>
{% endblock content %}
